<div class="mb-3">
  <%= form.label :firstname, "First name: ", class: "form-label" %>
  <%= form.text_field :firstname, placeholder: "Your first name", class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.label :surname, "Surname: ", class: "form-label" %>
  <%= form.text_field :surname, placeholder: "Your surname", class: "form-control" %>
</div>
