<div class="content">
  <table>
    <tbody>
      <tr>
        <td><strong>Name:</strong></td>
        <td><%= [@profile.firstname, @profile.surname].join(" ") %></td>
        <td>
          <%= link_to edit_profile_path do
            inline_svg_tag "pencil.svg"
          end %>
        </td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @profile.user.email %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <%- unless @profile.children.empty? %>
    <ul>
      <%- @profile.children.each do |child| %>
        <li><%= link_to child.fullname, person_path(child) %></li>
      <%- end %>
    </ul>
  <%- end %>
</div>
