@media (prefers-color-scheme: light) {
  :root {
    --background-body: #fff;
    --background: #efefef;
    --button-base: #d0cfcf;
    --button-hover: #9b9b9b;
    --form-placeholder: #949494;
    --form-text: #1d1d1d;
    --color-header-bg: hsl(115, 40%, 35%);
    --color-header-border: hsl(115, 40%, 15%);
    --links: #0076d1;
    --text-muted: #70777f;
    --banner-info-fg: #055160;
    --banner-info-bg: #cff4fc;
    --banner-info-border: #9eeaf9;
    --button-base: hsl(115, 40%, 35%);
    --button-hover: hsl(115, 70%, 35%);
    --color-button-fg: #fff;
    --color-flash-notice-fg: #0a3622;
    --color-flash-notice-bg: #d1e7dd;
    --color-flash-notice-border: 1px solid #a3cfbb;
    --color-flash-alert-fg: #58151c;
    --color-flash-alert-bg: #f8d7da;
    --color-flash-alert-border: 1px solid #f1aeb5;
    --color-white: #fff;
    --color-black: #000;
  }
}
