<div class="content">
  <%- if @events.empty? %>
    <p>There are no events</p>
    <%= link_to "Add one", new_admin_event_path %>
  <%- else %>
    <%- @events.each do |event| %>
    <hr>
      <article class="event">
        <p><%= link_to event.title, edit_admin_event_path(event) %></p>
        <time><%= event.start_time.strftime("%b %-d, %Y") %></time>
      </article>
    <%- end %>
  <% end %>
</div>
