<div class="content">
  <h2>Current Training Times</h2>

  <dl>
    <dt>Throwing</dt>
    <dd>Sunday at 10am</dd>
    <dt>Little Athletics (u9 – Born 2018)</dt>
    <dd>Thursday from 6pm to 6:45pm</dd>
    <dt>U10 – U11</dt>
    <dd>Wednesday from 6pm to 6:45pm and Sunday from 11:30am to 12:30am</dd>
    <dt>U12 and older groups</dt>
    <dd>Wednesday from 7pm to 8pm and Sunday from 11:30am to 12:30am</dd>
  </dl>

  Training is usually at St Mary's track in Castlebar, but sometimes we train in other places. Keep an eye on the website and text groups for any changes.
</div>
