<%= form_for [commentable, Comment.new] do |form| %>
  <div class="mb-3">
    <%= form.textarea :body, placeholder: "Add a comment", class: "form-control" %>
  </div>

  <%= form.submit "Comment", class: "btn btn-primary" %>
<%- end %>
