<div class="content">
  <h2><%= @person.fullname %></h2>
  <ul>
  <%- @person.results.each do |result| %>
    <li><%= result.race.name %> at <%= result.race.event.title %></li>
  <%- end %>
  </ul>
</div>
