<nav class="admin-toolbar" aria-label="Admin toolbar">
  <%= helpers.inline_svg_tag "rocket.svg" %>
  <%= link_to "Admin", admin_root_url %> |
  <%= link_to "Time Trials", time_trials_path %> |
</nav>
