<% @flash.each do |flash_type, message| %>
  <div
      class="flash flash__message flash__<%= flash_type %>"
      data-controller="removals"
      data-action="animationend->removals#remove"
      >
    <%= message %>
  </div>
<% end %>
