<div class="content">
  <h2>Little Athletics</h2>

  <p>
  Little athletics is for our youngest athletes.
  It is all about fun and learning the fundamentals of athletics.
  But the most important thing is to make things fun!
  </p>

  <p>
  The Little Athletics programme introduces young children (7-10 years) to athletics in a fun, engaging and non-competitive environment.
  It focuses on the use of games to develop fitness whilst enhancing agility, co-ordination and balance – all fundamental to longer term physical athletic development.
  </p>

  <h3>Parents / Helpers and Coaches</h3>

  <p>
  At little athletics we will usually split the children into small groups (stations).
  This is so that we can work on the essential skills of agility, co-ordination and balance,   and so that we can give the children time and encouragement.
  <p>

  <p>
  We are always looking for parents to help at our sessions.
  If you can help, a coach from the club will be with you to guide you on how to help with the activity.
  </p>

  <p>
  To make our session work best, we need about 8 coaches/helpers.
  We often need 4 stations with 2 coaches or helpers at each station.
  </p>

  <p>
  If you would like to help at little athletics, please let us know at the next session.
  </p>
</div>
