<div class="content">
  <%- if @posts.empty? %>
    <p>There are no posts</p>
  <%- else %>
    <%- @posts.each do |post| %>
        <article>
          <h3>
            <%= link_to post.title, edit_admin_post_path(post.url) %>
          </h3>
        </article>
    <%- end %>
  <% end %>
</div>
