<%- if @posts %>
  <hr>
  <%- @posts.each do |post| %>
    <h2><%= link_to post.title, edit_admin_post_url(post.url) %></h2>
    <p><%= post.content %></p>
    <hr>
  <%- end %>
<%- else %>
  <p>There are no posts</p>
<% end %>
