<div class="content">
  <p>Uh oh, something broke behind the curtain, sorry</p>
  <%- if admin? %>
    <h4><%= exception.message %></h4>
    <pre>
    <%- exception.application_trace.each do |line| %>
      <%= line %>
    <%- end %>
    </pre>
  <%- end %>
</div>
