<section class="news">
  <%= render ListPostsComponent.new do |component| %>
    <% component.with_posts(@posts) %>
  <% end %>
  <%= link_to "Older news >>", posts_path %>
</section>
<section class="calendar">
  <%= render ListEventsComponent.new do |component| %>
    <% component.with_events(@events) %>
  <% end %>
</section>
