<%= image_tag("castlebarac.jpg") %>
<div class="container">
  <section class="news">
    <%= render ListPostsComponent.new do |component| %>
      <% component.with_posts(@posts) %>
    <% end %>
  </section>
  <section class="calendar">
    <%= render ListEventsComponent.new do |component| %>
      <% component.with_events(@events) %>
    <% end %>
  </section>
</div>
