<%- if @posts %>
  <hr>
  <%- @posts.each do |post| %>
    <article>
      <h2><%= link_to post.title, post_url(post.url) %></h2>
      <div class="subtle"><%= post.created_at.strftime("%b %-d, %Y") %></div>
    </article>
  <%- end %>
<%- else %>
  <p>There are no posts</p>
<% end %>
