<%- content_for :title, "News" %>
<div class="content">
  <%- if policy(Post.new).new? %>
    <%= link_to "Add a post", new_post_path %>
  <%- end %>
  <%- if @posts.empty? %>
    <p>There are no posts</p>
  <%- else %>
    <%- @posts.each do |month, posts| %>
      <h2><%= month.strftime("%B %Y") %></h2>
      <%- posts.each do |post| %>
        <article>
          <h3>
            <%= link_to post.title, post_path(post.url) %>
          </h3>
        </article>
      <%- end %>
    <%- end %>
  <% end %>
</div>
