<%- content_for :title, "News" %>
<div class="content">
  <%- if policy(Post.new).new? %>
    <%= link_to "Add a post", new_post_path %>
  <%- end %>
  <%- if @posts.empty? %>
    <p>There are no posts</p>
  <%- else %>
    <%- @posts.each do |month, posts| %>
      <h2><%= month.strftime("%B %Y") %></h2>
      <ul class="list-group">
      <%- posts.each do |post| %>
        <li class="list-group-item d-flex align-items-center">
          <span class="text-body-tertiary">
            <%= post.created_at.strftime("%-d %B") %> -&nbsp;
          </span>
          <%= link_to post.title, post_path(post.url) %>
        </li>
      <%- end %>
      </ul>
    <%- end %>
  <% end %>
</div>
