.event-list {
  ul {
    list-style: none;
  }

  svg {
    padding-right: 3px;
  }

  li {
    border: 1px solid var(--border);
    border-radius: 6px;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
    padding: 10px;
    margin: 10px 0;
  }

  span {
    font-size: 0.8em;
  }

  a {
    padding-left: 15px;
  }
}
