.banner {
  padding: 0 15px;
  margin: 10px -10px;
  color: var(--banner-info-fg);
  background-color: var(--banner-info-bg);
  border-top: 1px solid var(--banner-info-border);
  border-bottom: 1px solid var(--banner-info-border);
  text-align: center;
}
