header {
  padding: 0 5px;
  background-color: var(--color-header-background);
  border-bottom: 2px solid var(--color-header-border);
  color: var(--color-white);
  height: 40px;

  nav.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
  }
  svg {
    position: relative;
    top: 3px;
    vertical-align: bottom;
  }
  a {
    color: #fff;
  }
  .name {
    font-weight: bold;
  }
  .link {
    padding-left: 10px;
  }
  .login {
    position: relative;
    top: 3px;
    padding-right: 10px;
  }
}
