header {
  a.logo {
    min-height: 120px;
    color: var(--color-black);
    font-size: 3.5em;
    font-weight: bold;
    display: block;
    text-align: center;

    &:hover {
      text-decoration: none;
    }
    svg {
      position: relative;
      top: 3px;
      vertical-align: bottom;
    }
  }

  a {
    color: var(--color-white);
  }
  .name {
    font-weight: bold;
  }
  .link {
    padding-left: 10px;
  }
  .login {
    position: relative;
    top: 3px;
    padding-right: 10px;
  }
}
