table {
  table-layout: auto;
  border-collapse: collapse;

  thead th:nth-child(1) {
    width: 5%;
  }

  thead th:nth-child(2) {
    width: 90%;
  }

  thead th:nth-child(3) {
    width: 10%;
  }

  form {
    button {
      padding: 0;
      margin: 0;
    }
  }
}
