header {
  padding: 0 5px;
  background-color: #3c8538;
  color: #fff;
}
header a {
  color: #fff;
}
header .name {
  font-weight: bold;
}
header .links {
  padding-left: 15px;
}
header .login {
  float: right;
}
