body {
  max-width: 100%;
  padding: 0;
}
main {
  padding: 0 10px;

  .container {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
  }
  .news {
    flex: 3 600px;
  }
  .calendar {
    flex: 1 200px;
  }
  img {
    margin: 10px auto 0 auto;
    width: 800px;
    display: block;
    border-radius: .375rem;
  }
}
section {
  padding: 0 10px;
}
article {
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0;

  h2 {
    margin-top: 0;
  }
  p {
    margin: 0;
  }
}
.subtle {
  color: var(--text-muted);
  font-size: 0.7em;
  padding-bottom: 5px;
}
