body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  color: var(--text-main);
  background: var(--background-body);
}
a {
  text-decoration: none;
  color: var(--links);
}
a:hover {
  text-decoration: underline;
}

nav.main {
  background-color: var(--color-header-bg);
  border-bottom: 2px solid var(--color-header-border);
  color: var(--color-white);
  padding: 10px 5px 6px 5px;
  height: 100%;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 5px 10px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);

  ul {
    margin: 0 auto;
    line-height: 3;
  }

  li {
    list-style: none;
    margin: 0 0.5rem;
  }

  a {
    color: var(--color-white);
  }
}

main {
  img {
    margin: 10px auto 0 auto;
    width: 800px;
    max-width: 100%;
    display: block;
    border-radius: .375rem;
  }
}
article {
  &.overview {
    border: 1px solid var(--border);
    border-radius: 6px;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
    padding: 10px;
    margin: 10px 0;
  }

  h2 {
    margin-top: 0;
  }
  p {
    margin: 0;
  }
}
.subtle {
  color: var(--text-muted);
  font-size: 0.7em;
  padding-bottom: 5px;
}
.auto {
  position: relative;
  display: inline-block;
  width: 300px;
  margin: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  transition: border-color 0.3s ease;
}
ul.autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 10px;
    cursor: pointer;
    color: var(--text-main);
    background: var(--background-body);
    transition: background-color 0.3s ease;

    &.active {
      background-color: var(--banner-info-bg);
      color: var(--banner-info-fg);
    }
  }
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
}

td,
th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

thead {
  border-bottom: 1px solid #dbdbdb;
  border-bottom: 1px solid var(--border);
}
