:root {
  --background-color: hsl(115, 40%, 35%);
  --header-bg-color: hsl(0, 0%, 100%, 0.7);
  --header-text-color: hsl(0, 0%, 100%); /* white */
  --nav-link-color: var(--header-text-color);
  --main-bg-color: hsl(0, 0%, 100%); /* white */
  --main-text-color: hsl(0, 0%, 0%); /* black */
  --main-link-color: var(--background-color);
  --border-color: hsl(from var(--background-color) h, s, 0%);
  --footer-text-color: var(--header-text-color);
  --banner-info-fg: #055160;
  --banner-info-bg: #cff4fc;
}

.navbar-nav {
  --bs-nav-link-color: var(--header-text-color);
  --bs-nav-link-hover-color: hsl(0, 0%, 80%);
}

body {
  background-color: var(--background-color);
  background-image: url("jumper.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
header.row {
  background-color: var(--header-bg-color);
  border-top: 3px solid var(--border-color);
  display: flex;
  justify-content: space-between;

  svg {
    margin: 6px 0 0 15px;
  }

  span {
    background-color: var(--background-color);
    color: var(--header-text-color);
    font-size: 48px;
    margin: 16px 0 16px 20px;
    padding: 10px 15px;
    border-radius: 10px 0 0 10px;
  }
}

nav#main-nav {
  background-color: var(--background-color);
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  display: flex;
  justify-content: space-between;
}

.main {
  background-color: var(--main-bg-color);
  color: #000;

  a {
    color: var(--main-link-color);
  }
  .thredded--button {
    color: #fff;
  }
}

footer#site-footer {
  background-color: var(--background-color);
  border-top: 3px solid var(--border-color);
  color: var(--footer-text-color);
  padding: 15px;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
}

td,
th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

thead {
  border-bottom: 1px solid #dbdbdb;
}

table.results {
  .position {
    width: 1.5em;
  }
  .bib {
    width: 1.5em;
  }
  .name {
    width: 5em;
  }
  .club {
    width: 5em;
  }
  .county {
    width: 5em;
  }
  .time {
    width: 2em;
  }
  td.time {
    text-align: right;
    font-family: monospace;
  }

  .cbac {
    background-color: #ada;
  }
}
input[type="datetime-local"] {
  width: 22rem;
}
ul.autocomplete {
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 10px;
    cursor: pointer;
    color: var(--main-text-color);
    background: var(--main-bg-color);
    transition: background-color 0.3s ease;

    &.active {
      background-color: var(--banner-info-bg);
      color: var(--banner-info-fg);
    }
  }
}
nav.admin-toolbar {
  background-color: #000;
  color: hsl(0, 0%, 100%, 0.7);
  padding: 5px 10px;
  justify-content: normal;
  margin: 0 -12px;

  svg {
    padding-right: 3px;
    fill: #fff;
  }

  a {
    color: #fff;
    padding: 0 10px;
  }
}
div.impersonate-bar {
  background-color: var(--bs-danger-bg-subtle);
  color: var(--bs-danger-text-emphasis);
  border-bottom: 1px solid var(--bs-danger-border-subtle);
  padding: 5px 10px;
  justify-content: normal;
  margin: 0 -12px;

  svg {
    padding-right: 3px;
    fill: var(--bs-danger-text-emphasis);
  }

  a {
    color: var(--bs-danger-text-emphasis);
    padding: 0 10px;
  }
}

.card-title {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
@keyframes appear-then-fade {
  0%, 100% {
    opacity:0
  }
  5%, 60% {
    opacity:1
  }
}
.flash {
  position:fixed;
  top: 11rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);

  max-width: 100%;
  width: max-content;
  padding: 0 var(--space-m);
}
.flash__message {
  font-size: var(--font-size-s);
  color: var(--bs-primary-text-emphasis);
  padding: var(--space-xs) var(--space-m);
  background-color: var(--bs-primary-bg-subtle);
  animation: appear-then-fade 4s both;
  border-radius: 5px;
}
.flash__alert {
  color: var(--bs-danger-text-emphasis);
  background-color: var(--bs-danger-bg-subtle);
  border: 1px solid var(--bs-danger-border-subtle);
}
.flash__notice {
  color: var(--bs-success-text-emphasis);
  background-color: var(--bs-success-bg-subtle);
  border: 1px solid var(--bs-success-border-subtle);
}
