:root {
  --background-color: hsl(115, 40%, 35%);
  --header-bg-color: hsl(0, 0%, 100%, 0.7);
  --header-text-color: hsl(0, 0%, 100%); /* white */
  --nav-link-color: var(--header-text-color);
  --main-bg-color: hsl(0, 0%, 100%); /* white */
  --main-text-color: hsl(0, 0%, 0%); /* black */
  --main-link-color: var(--background-color);
  --border-color: hsl(from var(--background-color) h, s, 0%);
  --footer-text-color: var(--header-text-color);
  --banner-info-fg: #055160;
  --banner-info-bg: #cff4fc;
}

.navbar-nav {
  --bs-nav-link-color: var(--header-text-color);
  --bs-nav-link-hover-color: hsl(0, 0%, 80%);
}

body {
  background-color: var(--background-color);
  background-image: url("jumper.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
header.row {
  background-color: var(--header-bg-color);
  border-top: 3px solid var(--border-color);
  display: flex;
  justify-content: space-between;

  svg {
    margin: 6px 0 0 15px;
  }

  span {
    background-color: var(--background-color);
    color: var(--header-text-color);
    font-size: 48px;
    margin: 16px 0 16px 20px;
    padding: 10px 15px;
    border-radius: 10px 0 0 10px;
  }
}

nav#main-nav {
  background-color: var(--background-color);
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  display: flex;
  justify-content: space-between;
}

.main {
  background-color: var(--main-bg-color);
  color: #000;

  a {
    color: var(--main-link-color);
  }
  .thredded--button {
    color: #fff;
  }
}

footer#site-footer {
  background-color: var(--background-color);
  border-top: 3px solid var(--border-color);
  color: var(--footer-text-color);
  padding: 15px;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
}

td,
th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

thead {
  border-bottom: 1px solid #dbdbdb;
}

table.results {
  .position {
    width: 1.5em;
  }
  .bib {
    width: 1.5em;
  }
  .name {
    width: 5em;
  }
  .club {
    width: 5em;
  }
  .county {
    width: 5em;
  }
  .result {
    width: 2em;
  }
  td.result {
    text-align: right;
    font-family: monospace;
  }

  .cbac {
    background-color: #ada;
  }
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  transition: border-color 0.3s ease;
}
textarea {
  color: #1d1d1d;
  background-color: #efefef;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}
textarea:not([cols]) {
  width: 100%;
}
textarea:not([rows]) {
  min-height: 40px;
  height: 140px;
}
ul.autocomplete {
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 10px;
    cursor: pointer;
    color: var(--main-text-color);
    background: var(--main-bg-color);
    transition: background-color 0.3s ease;

    &.active {
      background-color: var(--banner-info-bg);
      color: var(--banner-info-fg);
    }
  }
}
nav.admin-toolbar {
  background-color: #000;
  color: hsl(0, 0%, 100%, 0.7);
  padding: 5px 10px;
  justify-content: normal;

  svg {
    padding-right: 3px;
    fill: #fff;
  }

  a {
    color: #fff;
    padding: 0 10px;
  }
}

.card-title {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
