<%= form_with model: [:admin, team] do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, required: true, autofocus: true, placeholder: "Team name", class: "form-control" %>
  </div>

  <%= form.submit "Save it", class: "btn btn-primary" %>
<% end %>
